[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE.git
	branch = master
[submodule "external/CommonLibSSE_SE"]
	path = external/CommonLibSSE_SE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE.git
	branch = master
[submodule "external/CommonLibVR"]
	path = external/CommonLibVR
	url = https://github.com/ahzaab/CommonLibVR.git
	branch = master
